# Scraps local notes
.scraps/
.magenta/

#LaTex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.lof
*.lot

#Python virtual environment
.magenta/
.venv/
venv/
env/

#dataset MIDI
lakh-midi/

*.waw
*.mid